@model Market.ModelView.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["message"])

<style>
    .field-validation-error {
        color: red
    }

    .input-validation-error {
        color: red
    }
</style>

<div class="container mt-5">
    <div class="jumbotron">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified indigo" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#CreditTab" role="tab"><i class="fa fa-credit-card"></i> Credit Card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#PaypalTab" role="tab"><i class="fa fa-paypal"></i> Paypal</a>
            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">

            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="CreditTab" role="tabpanel">

                @using (Html.BeginForm("CreditCard", "Order"))
                {
                    @Html.AntiForgeryToken()

                    <h3>Credit Card Information</h3>

                    <!--Title-->
                    <div class="md-form">
                        @Html.TextBoxFor(m => m.CardHolderName)
                        @Html.LabelFor(m => m.CardHolderName)
                        @Html.ValidationMessageFor(m => m.CardHolderName)
                    </div>
                    <!--ShortDescription-->
                    <div class="md-form">
                        @Html.TextBoxFor(m => m.CardNumber)
                        @Html.LabelFor(m => m.CardNumber)
                        @Html.ValidationMessageFor(m => m.CardNumber)
                    </div>
                    <!--Thumbnail-->
                    <div class="md-form">
                        @Html.TextBoxFor(m => m.ExpirationDate)
                        @Html.LabelFor(m => m.ExpirationDate)
                        @Html.ValidationMessageFor(m => m.ExpirationDate)
                    </div>
                    <!--Contentlabel+textarea-->
                    <div class="md-form">
                        @Html.TextBoxFor(m => m.SecurityCode)
                        @Html.LabelFor(m => m.SecurityCode)
                        @Html.ValidationMessageFor(m => m.SecurityCode)
                    </div>

                    <h3>Billing Details</h3>

                    <div class="md-form">
                        @Html.TextBoxFor(m => m.Name)
                        @Html.LabelFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <div class="md-form">
                        @Html.TextBoxFor(m => m.AddressLine1)
                        @Html.LabelFor(m => m.AddressLine1)
                        @Html.ValidationMessageFor(m => m.AddressLine1)
                    </div>

                    <div class="md-form">
                        @Html.TextBoxFor(m => m.AddressLine2)
                        @Html.LabelFor(m => m.AddressLine2)
                        @Html.ValidationMessageFor(m => m.AddressLine2)
                    </div>

                    <div class="md-form">
                        @Html.TextBoxFor(m => m.ZipCode)
                        @Html.LabelFor(m => m.ZipCode)
                        @Html.ValidationMessageFor(m => m.ZipCode)
                    </div>

                    <div class="md-form">
                        @Html.TextBoxFor(m => m.PhoneNumber)
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>

                    <!--Pay Button-->
                    <div class="text-center">
                        <button class="btn btn-unique">Pay through Credit Card</button>
                    </div>
                }

            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane fade  text-center" id="PaypalTab" role="tabpanel">
                <a class="btn btn-primary w-100" href="@Url.Action("Paypal")">Pay through Paypal</a>
            </div>
            <!--/.Panel 2-->
        </div>
    </div>
</div>